APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

PROXMOX_CONNECT_TIMEOUT=15
PROXMOX_REQUEST_TIMEOUT=30

APP_LOCALE=fa
APP_FALLBACK_LOCALE=fa
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=database
# CACHE_PREFIX=

HORIZON_ALLOWED_EMAILS=
HORIZON_DEFAULT_PROCESSES=2
HORIZON_DELETIONS_PROCESSES=1
HORIZON_PROVISIONING_PROCESSES=2
HORIZON_BACKUPS_PROCESSES=1
HORIZON_UPGRADES_PROCESSES=1

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

CONSOLE_SESSION_TTL=60
CONSOLE_PROXY_PATH=/console-ws

ADMIN_PORTAL_DOMAIN=admin.aviato.ir
CUSTOMER_PORTAL_DOMAIN=cp.aviato.ir
CUSTOMER_PORTAL_ALIASES=my.aviato.ir,cp.aviato.ir

ADMIN_LOGIN_PATH=login
ADMIN_REGISTER_PATH=register
ADMIN_HOME_PATH=dashboard

CUSTOMER_LOGIN_PATH=login
CUSTOMER_REGISTER_PATH=register
CUSTOMER_HOME_PATH=dashboard
